div{
  margin :auto;
  width :500px;
  background-color: lightblue;
}
body{
  background-color: lightblue;}
p.border{
  text-align:center;
  border-style:solid ;
  border-size:1px;
  border-color:black;
}
